page-login {
    ion-content{
      .scroll-content{
         background-color:rgb(252, 224, 173);
      }
  
    }
    ion-row{
      background-color:rgb(252, 224, 173);
      border-bottom: 1px solid #cccccc;
    }
  }