page-achieve {
  ion-content{
    .scroll-content{
       background-color:rgb(248, 236, 214);
    }

  }
  ion-row{
    background-color:rgb(255, 252, 226);
    border-bottom: 2px solid #000000;
  }
}
